.employee-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    display: flex;
    flex-direction: column;
    width: 488px;
    border-collapse: collapse;
    text-align: center;
	vertical-align: middle;
}

thead {
    background-color: #333;
    color: white;
	text-transform: uppercase;
	letter-spacing: 2%;
}

thead th,
td {
    width: 25%;
}

tbody {
    border: 1px solid black;
}
tbody tr td{
	letter-spacing: 2%;
}
th, td {
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}